.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: vh(100);
    background: rgba(var(--black-rgb), 0.5);
    z-index: 1;
}

.modal__pane {
    position: relative;
    background: var(--app-bg);
    padding: toRem(50) toRem(100);
    border-radius: toRem(10);
}

.modal-enter {
    opacity: 0;
    transform: scale(1.1);
}

.modal-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: 0.25s ease;
    transition-property: opacity, transform;
}

.modal-exit {
    transition: 0.25s ease;
    transition-property: opacity, transform;
}

.modal-exit-active {
    opacity: 0;
    transform: scale(1.1);
}