.admin-page__categories-list {
    @extend %page-module;
}

.categories-list__title {
    text-align: center;
    margin-bottom: toRem(30);

    @include respond-to(small) {
        font-size: toRem(22);
    }
}

.categories-list {
    display: flex;
    flex-direction: column;
    gap: toRem(15);
    justify-content: space-evenly;
}

.categories-list__item {
    animation: fade 0.3s ease-in;

    display: grid;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    grid-template-columns: toRem(100) toRem(300) toRem(20);
    
    @include respond-to(small) {
        grid-template-columns: toRem(95) toRem(150) toRem(20);
        gap: toRem(10);
        
        & > p {
            font-size: toRem(14);
        }
    }
}

.categories-list__delete-icon {
    transition-property: fill transform;
    transition: .2s ease;

    svg {
        fill: var(--primary-light)
    }

    svg:hover {
        fill: var(--primary-main);
        transform: scale(1.1);
        cursor: pointer;
    }
}

.categories-list__add-icon {
    display: grid;
    place-content: center;
    transform: scale(0.9);

    transition-property: fill transform;
    transition: .2s ease;

    svg {
        fill: var(--primary-light)
    }

    svg:hover {
        fill: var(--primary-main);
        transform: scale(1.1);
        cursor: pointer;
    }
}

.admin-page__categories-pages {
    margin-top: toRem(10);
    display: grid;
    place-content: center;
}

.category-edit {
    animation: fade 0.3s ease-in;

    display: flex;
    gap: toRem(20);
    justify-content: space-around;
    align-items: center;
    border: toRem(1) dashed var(--secondary-light);
    border-radius: toRem(5);
    padding: toRem(15);

    @include respond-to(small) {
        flex-direction: column;
    }
}

.category-edit__actions {
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond-to(small) {
        width: 80%;
        justify-content: space-around;
    }
}