.change-password {
    display: flex;
    flex-direction: column;
    gap: toRem(30);
}

.change-password__title {
    text-align: center;
}

.change-password__actions {
    display: flex;
    gap: toRem(20);

    @include respond-to(small) {
        flex-direction: column;
    }
}