.comment {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: toRem(20);
    gap: toRem(10);
    border-radius: toRem(5);
    border: toRem(2) solid var(--secondary-light);
}

.comment__header {
    display: flex;
    justify-content: space-between;
}

.comment__content {
    font-size: toRem(14);
}

.comment__publish-date {
    user-select: none;
    font-weight: lighter;
    font-size: toRem(14);
    
    @include respond-to(small) {
        font-size: toRem(13);
    }
}