.post {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: toRem(20);
    gap: toRem(10);
    border-radius: toRem(5);
    background-color: var(--tertiary-main);
    position: relative;

    scroll-snap-align: start;
    scroll-snap-stop: normal;

    @include respond-to(small) {
        width: 95%;
    }

    &--my {
        background-color: var(--secondary-light);
    }
}

.post__label {
    position: absolute;
    background-color: inherit;
    padding: toRem(4);
    border-radius: toRem(5) 0 0 toRem(5);
    left: toRem(-27);

    &--edited {
        top: 15%;
    }

    &--hidden {
        top: 40%;
        padding-bottom: toRem(2);
    }

    &--comments {
        left: unset;
        top: 65%;
        width: toRem(50);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        right: toRem(-30);
        border-radius: 0 toRem(5) toRem(5) 0;
        padding-bottom: toRem(4);
        font-weight: bold;

        transition-property: right padding-right;
        transition-duration: .15s;

        &:hover {
            cursor: pointer;
            right: toRem(-35);
            padding-right: toRem(6);
        }

        @include respond-to(small) {
            right: toRem(-25);   
        }
    }

    @include respond-to(small) { 
        transform: scale(0.9);
    }
}

.post__label__comments-amount {
    width: toRem(25);
    height: toRem(25);
    border-radius: 100%;

    display: grid;
    place-content: center;
    padding: toRem(10);
    position: absolute;
    top: toRem(-8);
    right: toRem(-8);

    color: var(--primary-light);
    background-color: var(--secondary-light);

    transform: scale(0.85);
}

.post__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond-to(small) {
        h2 {
            font-size: toRem(20);
        }
        
    }
}

//TODO скрывать слишком много текста и на клик показывать фул
.post__content {
    word-wrap: break-word;

    @include respond-to(small) {
        font-size: toRem(13);
    }

}

.post__delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: toRem(7);
    transform: scale(0.9);

    svg:hover {
        cursor: pointer;
        fill: var(--primary-main)
    }
}

.post__publish-date {
    font-weight: lighter;
    font-size: toRem(15);
    user-select: none;
    margin-right: toRem(15);
    
    @include respond-to(small) {
        font-size: toRem(13);
    }
}

.post__footer {
    display: flex;
    justify-content: space-between;
    gap: toRem(20)
}

.post__categories {
    height: toRem(40);
    padding: toRem(5);
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(60), 1fr));
    gap: toRem(10);

    @include respond-to(small) {
        grid-template-columns: repeat(auto-fill, minmax(toRem(50), 1fr));
    }
}

.categories__item {
    background-color: var(--tertiary-light);
    display: grid;
    place-content: center;
    border-radius: toRem(5);
    min-height: toRem(30);

    box-shadow: 0 0 toRem(8) toRem(-3) rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 toRem(8) toRem(-3) rgba(0, 0, 0, 0.5);

    transition-property: transform background-color;
    transition-duration: .15s;

    &:hover {
        cursor: pointer;
        background-color: var(--tertiary-dark);
        transform: translateY(toRem(-3));
    }
}