.posts-list {
    border-radius: toRem(5);
    
    width: 100%;
    max-height: vh(85);
    margin-top: var(--nav-bar-height);
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(40);
    padding: toRem(20) 0;
}

.posts-list__loader-container {
    height: inherit;
    display: grid;
    place-content: center;
}

.posts-list__end {
    user-select: none;
    visibility: hidden;
}