.reset-page {
    width: 100vw;
    height: vh(100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: toRem(30);
    padding-bottom: toRem(60);

    @include respond-to(tablet) {
       padding-bottom: 0;
    }
}

.reset-page__form {
    display: flex;
    flex-direction: column;
    padding: toRem(15);
    gap: toRem(30);
    width: 35%;
    max-width: toRem(400);
    min-width: toRem(300);
}

.reset-page__actions {
    display: flex;
    justify-content: flex-end;
}